__pycache__/
venv*/
.venv*/
dist/
.coverage*
.ipynb_checkpoints/
.ruff_cache/
.DS_Store
._*

/configs/paths.yml

/*.yml
!/default_config.yml

User/bert/*/*.bin
User/bert/*/*.h5
User/bert/*/*.model
User/bert/*/*.safetensors
User/bert/*/*.msgpack
User/bert/*/*.onnx
User/pretrained/*.safetensors
User/pretrained/*.pth
User/pretrained_jp_extra/*.safetensors
User/pretrained_jp_extra/bak/*.safetensors
User/pretrained_jp_extra/*.pth
User/slm/*/*.bin

/scripts/test/
/scripts/lib/
/scripts/Style-Bert-VITS2/
/scripts/sbv2/
*.zip
*.csv
*.bak
/mos_results/

safetensors.ipynb
*.wav
/static/
/roadmap/

# pyopenjtalk's dictionary
*.dic

.DS_Store
playground.ipynb
playgrounds/

# Serena
.serena/cache/
